<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <style>
    h1.project-name {
      margin-top: 100px;
    }

    h2.project-tagline {
      margin-bottom: 5rem;
    }

    #nav > span > a {
      color: #dddddd;
    }

    #nav > span:not(:last-child)::after {
      content: ' |';
      color: #dddddd;
    }

    .button-group {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }

    @media screen and (max-width: 42em) {
      a.btn {
        width: 50%;
        margin: 0;
      }

      a.btn + a.btn {
        margin-top: 0;
        margin-left: 15px;
      }
    }

    .main-content {
      padding: 1rem !important;
    }

    #carbonads {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
      overflow: hidden;
      background-color: rgba(0, 0, 0, .05);
      font-size: 14px;
      padding: 15px 15px 15px 160px;
    }

    #carbonads a {
      text-decoration: none;
    }

    #carbonads a:hover {
      color: inherit;
    }

    .carbon-img {
      float: left;
      margin-left: -145px;
      width: 130px;
      height: 100px;
    }

    .carbon-img img {
      width: 130px;
      height: 100px;
    }

    .carbon-text {
      color: #333;
    }

    .carbon-poweredby {
      display: block;
      color: #777;
    }

    @media only screen and (min-width: 400px) {
      #carbonads {
        max-width: 330px;
      }
    }
  </style>
</head>
<body>
<section class="page-header">
  <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
  <div class="button-group">
    <a class="btn" href="https://github.com/UniSharp/laravel-filemanager-example-5.3" target="_blank">Demo</a>
    {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    {% endif %}
    {% if site.show_downloads %}
    <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
    <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
    {% endif %}
  </div>

  <nav id="nav">
    <span><a href="/laravel-filemanager">Home</a></span>
    <span><a href="installation">Installation</a></span>
    <span><a href="integration">Integration</a></span>
    <span><a href="config">Config</a></span>
    <span><a href="customization">Customization</a></span>
    <span><a href="events">Events</a></span>
    <span><a href="upgrade">Upgrade</a></span>
    <span><a href="security">Security</a></span>
  </nav>
</section>

<section class="main-content">
  <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CK7DE2JL&placement=unisharpgithubio"
          id="_carbonads_js"></script>
  {{ content }}

  <footer class="site-footer">
    {% if site.github.is_project_page %}
    <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a
      href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
    {% endif %}
    <span class="site-footer-credits">This page was generated by <a
      href="https://pages.github.com">GitHub Pages</a>.</span>
  </footer>
</section>

{% if site.google_analytics %}
<script type="text/javascript">
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
